@import url("/src/styles/globalStyles.css");

.container {
    font-family: var(--font-principal);
    border: 1px solid var( --gray-2);
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

    div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;

        h1 {
            font-weight: var(--title-3-weigth);
            font-size: var(--title-3-size);
        }

        p {
            font-weight: var(--title-3-weigth);
            font-size: var(--title-3-size);
            color: var( --color-primary);
        }
    }
    p{
        font-weight: var(--body-weigth);
        font-size: var(--body-size);
        color: rgb(52, 58, 64,1);
    }
}